<html>
<body>
<form action="/lines/create" method="POST">
    <label>Code</label>
    <input name="code"/>
    </br>
    <label>Type</label>
    <input name="type"/>
    </br>
    <input type="submit"/>

</form>
</body>
</html>